* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lemon-tuesday';
    src: url('../fonts/lemon_tuesday/Lemon\ Tuesday.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'antio-regular';
    src: url('../fonts/antio-regular/Antio-Regular/Antio\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
        font-family: 'capsuula';
        src: url('../fonts/Capsuula/Capsuula.ttf') format('trueType');
        font-weight: lighter;
        font-style: normal;
}

body {
    min-height: 100vh;
    background: url('../assets/BG-ORGANY.png') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.61);
    background-blend-mode: multiply;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Lemon-tuesday', sans-serif;
    display: flex;
    flex-direction: column;
    background-size: 150% auto;
    background-position: right center;
}
main {
    display: grid;
    grid-template-columns: 1fr ;
    height: 90vh;
    width: 90vw;
    margin: 0 100px;
    border-radius: 20px;
    position: relative;
    top: 3vh;
}

.budowa-grid {
    display: grid;
    grid-row: 1.2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 90vh;
    width: 90vw;
    gap: 1vw;
}
.budowa-tekst p {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wycentrowanie zawartości w pionie */
    justify-content: center;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 16px;
    min-width: 320px;
    font-size: 2.5rem;
}

.powrot-btn {
    display: flex;
    justify-content: right;
    align-items: right;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    padding: 0 !important;
    margin: 1.5rem 0 0 0;
    cursor: pointer;
    height: 20vh;
}
.budowa-grafika2 {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
}
.budowa-grafika {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grafika-wrap {
    position: relative;
    width: 100vw;
    max-width: 1800px;

    margin: 0 ;
}
.numer {
    position: static; 
    margin: 0;
}

.timeline-img {
    display: block;
    width: 100%;
    height: auto;
}

.epoch-btn {
    position: absolute;
    transform: translateX(-50%);
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 2.1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    padding: 0 !important;
    font-family: 'antio-regular', sans-serif;
}

h1 button{
    font-family: 'antio-regular', sans-serif;
}

.epoch-btn.top {
    bottom: 85%;  
    margin-bottom: 10px;
    font-family: 'Lemon-tuesday', sans-serif;
    
}

.epoch-btn.bottom {
    top: 80%;  
    margin-top: 10px;
    font-family: 'Lemon-tuesday', sans-serif;
}


